.required::after {
  content: " *";
  color: #cc3d3d;
}

/* Relacionado a demanda validateFields*/
.checkbox label.required::after {
  content: ""; 
}

/* Relacionado a demanda validateFields*/
label:has(+ .checkbox)::after {
  content: " *";
  color: #cc3d3d;
}
